[Desktop Entry]
Name=Notedown
Exec=/usr/lib/notedown-desktop/notedown
Terminal=false
Type=Application
Icon=notedown.png
StartupWMClass=notedown
GenericName=Notes Application
Categories=Utility;
Keywords=electron;notes;markdown;notedown;
Comment=Notedown is a markdown (and tex) notes application/website
